/* estilo global */
* {
  margin: 0; /* Remove margens padrão de todos os elementos */
  padding: 0; /* Remove espaçamentos padrão de todos os elementos */
  letter-spacing: 1px; /* Define um espaçamento de letras */
  font-weight: 300; /* Define o peso da fonte */
}

/* estilo do corpo do programa */
body {
  overflow-x: hidden; /* Remove barra de rolagem horizontal */
  background-color: #c0cacf71; /* Define cor de fundo */
  font-family: Arial, Helvetica, sans-serif; /* Define a fonte do corpo */
  color: #fff; /* Define a cor do texto */
}


footer{
  background-color: #289094; /* Define a cor de fundo do cabeçalho */
  width: 100%; /* Ocupa toda a largura da tela */
  height: 10rem; /* Define a altura do cabeçalho */
  display: flex; /* Exibe itens em linha */
  flex-direction: column; /* Itens em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  padding: 1rem; /* Espaçamento int*/
 margin: 0;
 top: 0;
}

.agrupamento-footer{
  display: flex;
  justify-content: center; /* Espaça itens igualmente */
  gap: 20px; /* Espaçamento entre itens */
}

h4{
 font-size:1.4rem;
 margin-bottom: 20px;
}

.icones{
  gap: 10px;
 font-size: 1.8rem;
 color: #fff;
}

p{
  margin-bottom: 10px;
  color: #fff;
}

.sessao{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centraliza texto */
  font-size: 1.1rem; /* Tamanho da fonte */
  color: #fff;
  width: 20rem ;
  height: 7rem;
}

.icone>i{
  gap: 5px;
  margin-bottom: 10px;
 color: #fff;
}

.unico{

  margin-top: 20px;
}
.borda-superior{
  border-top: 1px solid #fff;
  width: 80%;
  margin-top: 10px;
}