* estilo global */
* {
  font-weight: 300; /* Define o peso da fonte */
}

/* estilo do corpo do programa */
body {
  overflow-x: hidden; /* Remove barra de rolagem horizontal */
  background-color: #f5f7f8c5; /* Define cor de fundo */
  font-family: Arial, Helvetica, sans-serif; /* Define a fonte do corpo */
  color: black; /* Define a cor do texto */
}

/* Container principal do carrossel */
.carrossel-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Oculta elementos fora da área visível */
}

/* Estilo para o agrupamento de itens */
.agrupamento-img-p {
  display: flex; /* Itens em linha */
  gap: 20px; /* Espaçamento entre os itens */
  overflow-x: hidden; /* Oculta barra de rolagem */
  scroll-behavior: smooth; /* Rolagem suave */
  padding: 10px; /* Espaçamento interno */
}

/* Estilo para cada sub-container */
.sub-container {
  text-align: center;
  font-size: 1.1rem;
  color: black;
  background-color: #fff;
  transition: transform 0.5s ease, opacity 0.3s ease;
  border-radius: 15px;
  padding: 5px;
  width: 16rem;
  height: 19rem;
  box-shadow: 2px 2px 2px 2px rgba(219, 209, 209, 0.836);
}

.sub-container:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  cursor: pointer;
}

/* Estilo para as setas de navegação */
.seta-esquerda,
.seta-direita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #555;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}

.seta-esquerda {
  left: 10px;
}

.seta-direita {
  right: 10px;
}

/* Títulos e textos */
.p-sessao-2 {
  text-align: start;
  margin-top: 4rem;
  font-size: 2rem;
  color: #2c2c2c;
  position: relative;
  left: 50px;
  display: inline-block;
}

.modelo {
  font-size: 1rem;
  text-align: start;
  position: relative;
  left: 15px;
  padding: 5px;
  margin-bottom: -15px;
}

.modelo-negrito {
  font-weight: bold;
}

.borda-lateral {
  border: 3px solid #289094;
  background-color: #289094;
  width: 5px;
  height: 1.5rem;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  top: 15px;
  left: 50px;
}