/* estilo global */
* {
  font-weight: 300; /* Define o peso da fonte */
}

/* estilo do corpo do programa */
body {
  overflow-x: hidden; /* Remove barra de rolagem horizontal */
  background-color: #f5f7f8c5; /* Define cor de fundo */
  font-family: Arial, Helvetica, sans-serif; /* Define a fonte do corpo */
  color: black; /* Define a cor do texto */
}

/* estilo do cabeçalho */
header {
  position: fixed; /* Fixa o cabeçalho no topo */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  display: flex; /* Exibe itens em linha */
  justify-content: space-around; /* Espaça itens igualmente */
  align-items: center; /* Centraliza itens verticalmente */
  z-index: 99; /* Define a camada do cabeçalho */
  background-color: #289094; /* Define a cor de fundo do cabeçalho */
  width: 100%; /* Ocupa toda a largura da tela */
  height: 5rem; /* Define a altura do cabeçalho */
}

/* inicio do estilo da logo da loja */
.logo {
  color: white; /* Define a cor da logo */
  font-size: 2.5rem; /* Tamanho da fonte da logo */
  text-decoration: none; /* Remove o sublinhado da logo */
}
.logo span {
  color: #2adae0; /* Cor do span dentro da logo */
}
/* fim do estilo da logo da loja */

/* inicio do estilo do ícone do Hamburger */
.hamburger {
  display: none; /* Oculta o ícone por padrão */
  position: absolute; /* Posiciona o ícone */
  cursor: pointer; /* Muda o cursor para indicar clicável */
  right: 5%; /* Alinha à direita */
  top: 50%; /* Alinha verticalmente ao centro */
  transform: translate(-5%, -50%); /* Ajusta posição do ícone */
  z-index: 2; /* Define a camada do ícone */
}

.hamburger i {
  font-size: 30px; /* Tamanho do ícone */
  color: #f2f5f7; /* Cor do ícone */
  transition: transform 0.7s ease; /* Animação suave na transformação */
}
/* Animação do Ícone do Hamburger */
.hamburger.toggle i {
  transform: rotate(90deg); /* Rotaciona o ícone ao abrir */
}
/* fim do estilo do ícone do Hamburger */

/* inicio da estilização dos links do menu */
.nav-links {
  display: flex; /* Exibe links em linha */
  align-items: center; /* Centraliza links verticalmente */
}

.nav-links a::after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  background-color: #fff;
  transition: 0.8s;
  margin: 0 auto;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links > i {
  color: #fff;
  font-size: 22px;
  margin-left: 1rem;
}

.nav-links a {
  text-decoration: none; /* Remove sublinhado dos links */
  margin-left: 1rem; /* Espaçamento à esquerda */
  color: #fff; /* Cor dos links */
  text-align: right; /* Alinha texto à direita */
  font-size: 1.2rem; /* Tamanho da fonte dos links */
}

/* fim da estilização dos links do menu */

/* inicio da estilização dos botões do menu */
.btn button {
  background-color: transparent; /* Fundo transparente */
  border: 1px solid #f2f5f7; /* Borda dos botões */
  border-radius: 2rem; /* Bordas arredondadas */
  padding: 0.4rem 0.6rem; /* Espaçamento interno dos botões */
  margin-left: 2vw; /* Espaçamento à esquerda */
  font-size: 1.1rem; /* Tamanho da fonte dos botões */
  cursor: pointer; /* Indica que é clicável */
  color: #fff; /* Cor do texto do botão */
}
/* estilização dos botões do menu quando o mouse estiver por cima dos botões */
.btn button:hover {
  color: #289094; /* Cor do texto ao passar o mouse */
  background-color: #f2f5f7; /* Cor de fundo ao passar o mouse */
  border: 1.5px solid #f2f5f7; /* Ajusta borda ao passar o mouse */
  transition: all ease-in-out 350ms; /* Animação suave na transição */
}
/* fim da estilização dos botões do menu */

.sessao-1 {
  margin-top: 8rem;
  place-content: center;
  place-items: center;
}
.sessao-2 {
  margin-top: -18rem;
  place-content: center;
  place-items: center;
}
.sessao-3 {
  margin-top: -36rem;
  place-content: center;
  place-items: center;
}

.sessao-2 > img {
  height: 7rem;
  width: 9rem;
  margin-bottom: 2rem;
}
.sessao-1 > img {
  height: 7rem;
  width: 9rem;
}
.sessao-1 > h1 {
  color: #696262;
  font-weight: bold;
  font-size: 3.3rem;
}
.sessao-2 > h1 {
  color: #696262;
  font-weight: bold;
  font-size: 2.8rem;
}
.sessao-3 > h1 {
  color: #696262;
  font-weight: bold;
  font-size: 2.8rem;
}

.textos {
  color: #696262;
  font-size: 1.3rem;
  text-align: center;
  padding: 150px;
  position: relative;
  bottom: 180px;
  line-height: 1.5;
  margin: 0 auto;
}
.texto {
  color: #696262;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: justify;
  padding: 150px;
  position: relative;
  bottom: 180px;
}

.text {
  color: #696262;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: justify;
  padding: 150px;
  position: relative;
  bottom: 30rem;
}

.purchase-button {
  background-color: #289094;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  margin-top: -20px;
  transition: 0.2s;
  width: 200px;
  position: relative;
  bottom: 38rem;
}
.purchase-button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.sub-container-medio{
  text-align: center; /* Centraliza texto */
  font-size: 1.1rem; /* Tamanho da fonte */
  color: black; /* Cor do texto */
  transition: transform 0.5s ease, opacity 0.3s ease;
  border-radius: 15px;
  padding: 30px;
  width: 25rem;
  height: 15rem;
  
}

.agrupamento-img-p {
  display: flex; /* Exibe itens em linha */
  justify-content: center; /* Espaça itens igualmente */
  gap: 20px; /* Espaçamento entre itens */
}


.sub-container-medio img {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 5rem;
  height: 5rem;
}

.sub-container-medio p {
  display: block;
  align-items: start;
  justify-content: start;
  text-align: start;
  font-size: 1.3rem;
  color: #696262;
}

.sub-container-medio>h2{
  text-align: start;
  font-weight: bold;
  font-size: 1.4rem;
  color: #696262;
}

.scroll{
  opacity: 0;
  filter: blur(15px);
  transition: all 1.5s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transition: all 1.5s 
}



dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  width: 60%;
  max-width: 550px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  
}

dialog h2 {
  font-weight: bold;
  font-size: 2rem;
}

dialog p{
  font-size: 1.3rem;
}

.modal-content {
  position: relative;
}

.fechar-modal {
  position: relative;
  left: 270px;
  bottom: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
}

.fechar-modal:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-buttons button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

#btnEntrar {
  background-color: #289094;
  color: white;
}

#btnCriarConta {
  background-color: #2ae09a;
  color: white;
}

.empty-cart-container {
  margin-top: 4rem;
  place-content: center;
  place-items: center;
}
